{% extends 'dashboard/content.html' %}
{% block content %}
    {% with active_menu="interview" active_tab="manage_companies" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block rightPanel %}
    <div class="container-fluid p-2">
        <div class="row">
            {% for company in company_list %}
                <div class="col-md-5 my-5 mx-5">
                    <div class="card">
                        <div class="card-header fw-bold fs-4">
                            {{ company.name }}
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <img class="img-thumbnail" height="100%" width="100%"
                                         src="{{ MEDIA_ROOT }}{{ company.get_company_logo }}" alt=""/>
                                </div>
                                <div class="col-sm-8">
                                    <table class="table table-striped">
                                        <tr>
                                            <td><b>Full Name</b></td>
                                            <td>{{ company.full_name }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>WebSite</b></td>
                                            <td><a target="_blank"
                                                   href="{{ company.website }}">{{ company.website }}</a></td>
                                        </tr>
                                        <tr>
                                            <td><b>Type</b></td>
                                            <td>{{ company.get_type_display }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <table class="table table-sm table-bordered">
                                    <thead>
                                    <th>Role</th>
                                    <th>Pacakage</th>
                                    <th>Type</th>
                                    </thead>
                                    {% for job in company.companyjob_set.all %}
                                        <tr>
                                            <td>{{ job.role_name }}</td>
                                            <td>{{ job.package }}</td>
                                            <td>{{ job.get_type_display }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <a href="{% url 'view_company_details' company.id %}">
                                        <button type="button" class="btn btn-secondary">
                                            <span class="me-2"><i class="bi bi-eye-fill"></i></span>
                                            <span>View</span>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="{% url 'view_student_list' company.id %}">
                                        <button type="button" class="btn btn-danger"><span class="me-2"><i
                                                class="bi bi-people-fill"></i></span>
                                            <span>Students List</span>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-sm-5">
                                    <a href="{% url 'filter_students_for_company' company.id %}">
                                        <button type="button" class="btn btn-success">
                                            <span class="me-2"><i class="bi bi-check2-all"></i></span>
                                            <span>Ask for Enroll</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}