{% extends 'dashboard_content.html' %}
{% block styles %}
    <style>
        .table-container {
            margin-top: 100px;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px 0;
        }
    </style>
{% endblock %}
{% block rightPanel %}
    <div class="table-container">
        {% if alert_msg %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for msg in  alert_msg %}
                    <strong>{{ msg }}<br/></strong>
                {% endfor %}
            </div>
        {% endif %}
        <h2 class="text-center">Allot HOD</h2>

        <hr class="my-3"/>
        <div class="container">
            <form method="post" id="allotHODForm" data-staff-url="{% url 'ajax_load_faculties' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-4">
                        <label for="department" class="form-label">Department</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select" id="department" name="dep_name">
                            <option value="" disabled selected>-----</option>
                            {% for dep in departments %}
                                <option value="{{ dep.name }}">{{ dep.full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="staffs_field" class="form-label">Staff</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select" id="staffs_field" name="staff_id">
                            <option value="" disabled selected>----</option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-primary btn-success">Allot as HOD</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $("#department").change(function () {
            var url = $("#allotHODForm").attr("data-staff-url");
            var dep_name = $(this).val();
            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/ajax/load_staffs/)
                data: {
                    'dep_name': dep_name       // add the dep_name to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_staff` view function
                    $("#staffs_field").html(data);  // replace the contents of the staffs input with the data that came from the server
                }
            });

        });
    </script>
{% endblock %}