{% extends 'dashboard_content.html' %}
{% block styles %}
    <style>
        .table-container {
            margin-top: 100px;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px 0;
        }
    </style>
{% endblock %}
{% block rightPanel %}
    <div class="table-container">
        {% if alert_msg %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for msg in  alert_msg %}
                    <strong>{{ msg }}<br/></strong>
                {% endfor %}
            </div>
        {% endif %}
        {% if messages %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for msg in  messages %}
                    <strong>{{ msg }}<br/></strong>
                {% endfor %}
            </div>
        {% endif %}

        <h2 class="text-center">View all department HODs Information</h2>

        <hr class="my-3"/>
        <div>
            <table class="table table-bordered table-striped w-auto">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Department</th>
                    <th>Name</th>
                    <th>Staff Id</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for each in hods_info %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ each.department }}</td>
                        <td>{{ each.full_name }}</td>
                        <td>{{ each.staff_id }}</td>
                        <td>{{ each.email }}</td>
                        <td>{{ each.user.profile.phone_number |default_if_none:"" }}</td>
                        <td><a href="{% url 'un_assign_hod' staff_id=each.staff_id %}">
                            <button type="button" class="btn btn-danger">Un Assign</button>
                        </a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}