{% extends 'index.html' %}
{% block title %}Update Profile{% endblock %}
{% block body_style %}
{% endblock %}
{% block body %}{% endblock %}
{% block form_content2 %}
    <form method="post" class="box-section" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text-center">{{ title }}</h2>
        <input type="hidden" name="form_type" value="{{ form_type }}">
        <hr class="my-3"/>
        <br/>

        {% if existing_recruiters %}
            <div class="row" id="view_recuiter">
                <h4 class="text-center">Existing Recruiters Details</h4>
                <hr class="my-3"/>
                <div class="col-sm-12">
                    <table class="table table-light">
                        <thead>
                        <th>#</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Preferred Contact</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for recruiter in existing_recruiters %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ recruiter.full_name }}</td>
                                <td>{{ recruiter.designation }}</td>
                                <td>{{ recruiter.get_preferred_contact_display }}</td>
                                <td>{{ recruiter.phoneNumber }}</td>
                                <td>{{ recruiter.email }}</td>
                                <td>
                                    <a href="{% url 'delete_recruiter' company_id recruiter.pk %}">
                                        <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr/>
        {% endif %}
        {% if form_type == 'hr_info' %}
            <h4 class="text-center">Add New Recruiters Details</h4>
            <hr class="my-3"/>
        {% endif %}
        {% for field in form %}
            <div class="form-group">
                <div class="row m-2">
                    <div class="col-sm-4 text-sm-end">{{ field.label }}
                        {% if field.field.required %}
                            <span class="required" style="color: red">*</span>
                        {% endif %}
                    </div>
                    <div class="col-sm-5">
                        {{ field }}
                        <br/>
                        {% for error in field.errors %}
                            <small style="color: red">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="row">
                {% if form_type == 'hr_info' %}
                    <div class="col-sm-4"></div>
                    <div class="col-sm-2">
                        <button type="submit" name="save_and_add" class="btn btn-outline-primary">Save And Add
                        </button>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">
                        <button type="submit" name="submit" class="btn btn-outline-success">Submit
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'create_roles' company_id %}" class="btn btn-success" id="next_btn">Next</a>
                    </div>
                    <div class="col-sm-2"></div>
                {% else %}
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4 my-3">
                        <button type="submit" name="submit" class="btn btn-success">Save
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>

        $(window).on('load', function () {
            $('#next_btn').hide();
            {% if form_type == 'hr_info' %}
                {% if current_user_not_added %}
                    $('#confirm_txt').html('Do you wanna fill your details as Recruiter ?');
                    $('#confirmModal').modal('show');
                {% endif %}
                {% if existing_recruiters %}
                    $('#next_btn').show();
                {% endif %}
            {% endif %}
        });

        $('#confirm_btn_yes').click(function () {
            $('#confirmModal').modal('hide');
            $.ajax({
                url: "{% url 'ajax_get_user_profile_json' %}",
                success: function (data) {
                    console.log(data);
                    $('#id_first_name').val(data.first_name);
                    $('#id_middle_name').val(data.middle_name);
                    $('#id_last_name').val(data.last_name);
                    $('#id_phoneNumber').val(data.phone_number);
                    $('#id_email').val(data.email);
                }
            });
        });


    </script>

{% endblock %}