{% extends 'index.html' %}
{% block title %}Placement Portal | Login{% endblock %}
{% block form_content %}
    <form class="form-container" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="emailId" class="form-label">Email address</label>
            <input type="email" class="form-control" id="emailId" aria-describedby="emailHelp" name="email">
        </div>
        {% if error_message %}
            <p class="help-block" style="color: red">{{ error_message }}</p>
        {% endif %}
        <div class="mb-3">
            <label for="pass" class="form-label">Password</label>
            <input type="password" class="form-control" id="pass" name="password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="remember_check" name="remember_me">
            <label class="form-check-label" for="remember_check">Remember Me</label>
        </div>
        <div class="d-grid gap-2 mx-auto">
            <button type="submit" name="login" class="btn btn-primary">Login</button>
        </div>

        <hr class="my-3"/>
        <small>Click here to <a href="{% url 'signup' %}"> signup</a></small>
    </form>
{% endblock %}