{% extends 'index.html' %}
{% block title %}Signup{% endblock %}
{% block form_content %}
    <form method="post" class="form-container">
        {% csrf_token %}
        <h2 class="text-center">Sign Up</h2>
        <hr class="my-3"/>
        {% if alert_msg %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for alert_msg in  alert_msg %}
                    <strong>{{ alert_msg }}<br/></strong>
                {% endfor %}
            </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group">
                <div class="row">
                    <div class="m-2 p-1">
                        {{ field }}
                        {% for error in field.errors %}
                            <small style="color: red">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="d-grid gap-2 mx-auto">
            <button type="submit" name="signup" class="btn btn-primary">Signup</button>
        </div>
        <hr class="my-3"/>
        <small>Already have account? Click here to <a href="{% url 'login' %}"> Login</a></small>
    </form>

{% endblock %}