{% extends 'index.html' %}
{% block title %}Update Profile{% endblock %}
{% block body_style %}
{% endblock %}
{% block body %}{% endblock %}
{% block form_content2 %}
    <form method="post" class="box-section" enctype="multipart/form-data">
        {% csrf_token %}
        <label>
            <input type="text" name="user_name" value="{{ user_name }}" hidden/>
        </label>
        <label>
            <input type="text" name="form_name" value="{{ form_name }}" hidden/>
        </label>
        {% if form_name == 'UserProfileForm' %}
            <h2 class="text-center">Updating User Profile - {{ user_name }}</h2>
        {% elif form_name == 'StaffAccountForm' %}
            <h2 class="text-center">Updating Staff Profile - {{ user_name }}</h2>
        {% elif form_name == 'StudentInfoForm' %}
            <h2 class="text-center">Updating Student Profile - {{ user_name }}</h2>
        {% endif %}
        <hr class="my-3"/>

        {% for field in form %}
            <div class="form-group">
                <div class="row m-3">
                    <div class="col-sm-4 text-sm-end form-label">{{ field.label_tag }}</div>
                    <div class="col-sm-8">{{ field }} <br/>
                        {% for error in field.errors %}
                            <small style="color: red">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <button type="submit" name="{{ form_name }}" class="btn btn-primary btn-success">Update</button>
            </div>
        </div>
    </form>
{% endblock %}