{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Placement Portal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
</head>
<body>
<nav class="navba navbar-expand-sm">
    <a href="#" class="navbar-brand" style="font-family: Roboto">Placement portal</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="navBarToggleBlk">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBarToggleBlk">
        <ul>

        </ul>
    </div>
</nav>
{% block body %}{% endblock %}

<script src="{% static 'js/bootstrap.esm.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>